  </div>
  <div id="footer">
    <% if (domain.domain_name == 'betrireykjavik.is') { %>
      <a href="https://www.betrireykjavik.is/">Betri Reykjavik</a> -
      <a href="mailto:betrireykjavik@ibuar.is">betrireykjavik@ibuar.is</a> -
      <a href="<%='https://www.betrireykjavik.is/'%>">Afskrá mig</a>
    <% } %>
    <% if (domain.domain_name == 'betraisland.is') { %>
      <a href="https://betraisland.is/">Betra Ísland</a> -
      <a href="mailto:betraisland@ibuar.is">betraisland@ibuar.is</a> -
      <a href="<%='https://www.betraisland.is/'%>">Afskrá mig</a>
    <% } %>
    <% if (domain.domain_name  == 'yrpri.org') { %>
      <a href="https://yrpri.org/">Your Priorities</a> -
      <a href="mailto:admin@yrpri.org">admin@yrpri.org</a> -
      <a href="<%='https://yrpri.org/#!/user/'%>">Unsubscribe</a>
    <% } %>
  </div>
</div>
