      </div>
      <div id="footer" style="padding: 10px;padding-top: 20px;text-align: center;background: #edeeef !important;">
        <% if (domain.domain_name == 'betrireykjavik.is') { %>
          <a style="color: #0083e8;" href="https://www.betrireykjavik.is/">Betri Reykjavik</a> -
          <a style="color: #0083e8;" href="mailto:betrireykjavik@ibuar.is">betrireykjavik@ibuar.is</a> -
          <a style="color: #0083e8;" href="<%='https://www.betrireykjavik.is/'%>">Tölvupóststillingar</a>
        <% } %>
        <% if (domain.domain_name == 'betraisland.is') { %>
          <a style="color: #0083e8;" href="https://betraisland.is/">Betra Ísland</a> -
          <a style="color: #0083e8;" href="mailto:betraisland@ibuar.is">betraisland@ibuar.is</a> -
          <a style="color: #0083e8;" href="<%='https://www.betraisland.is/'%>">Tölvupóststillingar</a>
        <% } %>
        <% if (domain.domain_name  == 'yrpri.org') { %>
          <a style="color: #0083e8;" href="https://yrpri.org/">Your Priorities</a> -
          <a style="color: #0083e8;" href="mailto:admin@yrpri.org">admin@yrpri.org</a> -
          <a style="color: #0083e8;" href="<%='https://yrpri.org/'%>">Email Settings</a>
        <% } %>
      </div>
    </div>
  </body>
</html>