<div id="header">
  <div id="left-top">
    <img src="br_email.png" />
  </div>
  <div id="right-top">
    <p class="br">Betri Reykjavík 2016</p>
    <p>No images? <a href="#">Click here</a></p>
  </div>
</div>

<%= t('notification.email.dear') %> <%= user.name %>