<div id="header">
  <div id="left-top">
    <img src="https://s3.amazonaws.com/yrpri-direct-asset/yrpri6_emails/BR_email.png" />
  </div>
  <div id="right-top">
    <p class="br">Betri Reykjavík 2016</p>
    <p>No images? <a href="#">Click here</a></p>
  </div>
</div>

<%= t('notification.email.dear') %> <%= user.name %>